<% layout('layouts/boilerplate') -%>

<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<h1>Hop-On/Hop-Off<br>2 Day Deluxe++</h1>
		<img src="https://i2.wp.com/www.discovertown.com/wp-content/uploads/2016/05/thumcityAlcatraz-2xportrait-sale.jpg" class="img-thumbnail">
		<div class="text-left">
			<p>
				Tour Package Includes Round Trip to Alcatraz Island with Cell House Audio Tour. 
				Alcatraz face value = $37.25 Adults/Juniors (12+), $35.00 Seniors (62+), $22.75 Kids (5-11), Free (0-4).
			</p>
				Discover Alcatraz first hand. Go on the island and inside the prison. This is the Official Alcatraz Cruises Ferry &amp; Tour Ticket sold as part of a multi-tour-combination that includes the tour listed below plus 4 Walking Tours – all together as one package. Alcatraz Tickets Cannot Be Resold Separately – Per National Park Regulations.
			</p>
			<p>
				Duration: 2.5 hrs Primary Loop (+ Alcatraz at 2-3 hrs + Walking Tour Options at 1 hr+)
				Enjoy the city from the special view of an open-top bus, learning about both past and present. You can hop off the bus at multiple stops, all set at great attractions and neighborhoods. You control your stay at any stop. Then hop back on board another bus and continue your trip.
			</p>
			<p>
				No Senior Pricing, Adult and Kid Only.
			<p>
				No Hotel Pickup.
				No reservations needed for City Tour, see details below. Can be done before or after Alcatraz.
			</p>
		</div>
		<h3>Checkout:</h3>
		<form action="/charge" method="post">
			<article>
				<label>Amount: $5.00</label>
			</article>
			
			<script class="stripe-button" src="//checkout.stripe.com/v2/checkout.js" data-locale="auto" data-description="Sample Charge" data-amount="500" data-key="<%= keyPublishable %>"></script>
		</form>
	</div>
</div>
